{% extends 'base.html' %}

{% block title %}Movie Page{% endblock %}

{% block content %}
    <h1 id="movie">
        <a href={{ movie.url }}>{{ movie.title }}</a>
        <br>
        <small>Average Rating: {{ movie.avg_rating }}</small>
    </h1>

  <div class="row header">
        <div class="col-md-6 rater_name">User</div>
        <div class="col-md-6">Rating</div>
    </div>
    <div>
        {% for rating in ratings %}
            <div class="row">
                <div class="col-md-6 rater_name"><a href="/rater/{{ rating.rater.pk }}">{{ rating.rater }}</a></div>
                <div class="col-md-6">{{ rating.rating }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
