{% extends 'base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
    <h1 id="movie">
        <a href={{ movie.url }}>{{ movie.title }}</a>
        <br>
        <small>Average Rating: {{ movie.avg_rating }}</small>
    </h1>
    <div class="panel-body">
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-group">
                <label>
                    Add your rating:
                    <input type="text" class="form-control" placeholder="Enter 1-5" id="rating" name="rating">
                </label>
            </div>
            <br>
            <div class="btn-group" role="group" aria-label="...">
                <button type="submit" class="btn btn-danger">Submit</button>
            </div>
        </form>
    </div>
    <div class="row header">
        <div class="col-md-6 rater_name">Rater</div>
        <div class="col-md-6">Rating</div>
    </div>
    <div>
        {% for rating in ratings %}
            <div class="row">
                <div class="col-md-6 rater_name"><a href="/rater/{{ rating.rater.pk }}">{{ rating.rater }}</a></div>
                <div class="col-md-6">{{ rating.rating }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
