#top_movies, #rater, #movie{
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 1em;
}

.row {
    margin: 0 auto;
    text-align: center;
    padding: 5px 0;
    width: 70%;
}

.content:last-child {
    margin-bottom: 3em;
}

.movie_title, .rater_name {
    text-align: left;
}

.row.header {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: large;
    font-weight: bold;
}

.panel-body {
    width: 50%;
    margin: 15px auto;
}