#top_movies {
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 1em;
}

.row {
    text-align: center;
    padding: 5px 0;
}

.content:last-child {
    margin-bottom: 3em;
}

.movie_title {
    text-align: left;
}